<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>注册成功</title>
    <style>
        p{
            color: red;
            font-size: 20px;
            text-align: center;
        }
    </style>

</head>
<body onload="url()">

    <p>
        注册成功，请联系管理员获取权限...(5秒后自动跳转)
        <a href="{% url 'xadmin:index' %}">或者点击这里跳转登录</a>
    </p>
<script type="text/javascript">
    function jumpurl(){
        location="{% url 'xadmin:index' %}";
    }
    function url(){
        setTimeout('jumpurl()',5000);
    }

</script>
</body>
</html>